<div class="container">
  <div class="my-scale d-flex" style="width: 100%; height: 20vh;">
    <div class="m-auto">
      <ion-card class="">
        <ion-card-header>
          <ion-card-title class="text-center">
            <a class="darker-txt" href="https://firebasestorage.googleapis.com/v0/b/devmotors-254.appspot.com/o/Downloads%2FDev%20Motors.apk?alt=media&token=a19850b7-0815-431b-82f1-f99ff7bf444a" target="_blank">
              <i class="bi bi-android2"></i>
              Android Apk
            </a>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header class="text-center">
          <ion-card-title>
            <a class="darker-txt" href="https://firebasestorage.googleapis.com/v0/b/devmotors-254.appspot.com/o/Downloads%2FDev%20Motors.zip?alt=media&token=a19850b7-0815-431b-82f1-f99ff7bf444a" target="_blank">
              <i class="bi bi-windows"></i>
              Windows MSI files
            </a>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</div>