.padder{
  padding-left: 20vw;
  padding-right: 2vw;
}

.navbar-bg{
  background-color: var(--ion-color-light);
}

.nav-link {
  color: var(--ion-color-dark);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--ion-color-primary);
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 160px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#left {
  top: -8px;
  right: 120%;
}

#right {
  top: -8px;
  left: 120%;
}

.pop:hover{
  transform: scale(1.02);
}